<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-light py-4 ">
    <!-- <a class="navbar-brand " href="#"><img src="../assets/logos.png"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item ml-3 ">
        <a class="navbar-brand img-responsive logo" href="#"><img width="150px" src="/assets/logos.png"></a>

      </li>
    </ul>  
    <!-- <ul class="navbar-nav">
      <li class="nav-item ml-3 ">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn-search" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div> 

      </li>
    </ul>     -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
         <div class="input-group ">
            <input type="text" class="form-control search-box" placeholder="Search">
              <button class="btn-search" type="button">
                <i class="fa fa-search"></i>
              </button>
            
          </div> 
      </ul> 
      <ul class="navbar-nav">
        <li class="nav-item  ">
          <a class="nav-link ml-4" href="#"><b>Home</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-4 ">
          <a class="nav-link" href="#"><b>Items</b> </a>
        </li>
        <li class="nav-item ml-4 ">
          <a class="nav-link" href="#"><b>Shop</b></a>
       </li>
             
        </ul>
        <ul class="navbar-nav ml-auto ">
             <li class="nav-item ml-3 ">
          <a class="nav-link" href="#"><b>Portfolio</b></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#"><b>Category</b></a>
        </li>
     
        <li class="nav-item ml-3 right-nav">
           <a href="#" class="icon ml-2">
            <img src="/assets/icons8-bell-24.png" width="20px" alt="">

        </a>
      
           <a href="#"  class="icon ml-2 right-nav">
            <img src="/assets/icons8-purposeful-man-50.png" width="20px" alt=""> </a>
       
           <a href="#"  class="icon ml-2 right-nav">
               <img src="/assets/icons8-image-file-64.png" width="20px" alt="">

            </a>
            <a href="#"  class="icon ml-2 right-nav">
                <img src="/assets/icons8-shopping-cart-26.png" width="20px" alt="">

            </a>
      
        </li>
        
      </ul>
    </div>
    
  </nav>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>

 
  