    
*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
   
}
.navbar
{
    
    padding-left: 30px !important;
    background: #FFD7B5;
}
.right-nav
{
    padding-right: 40px;
}


.icon{
   padding-right: 12px !important;
}

.khans{
    font-family: cursive !important;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

.logo{
    margin-left: 50px;
    margin-top: -25px;
}

/* Bootstrap 4 text input with search icon */

 .search-box{
    position: relative;
    display: left;
    border-radius: 50px 0 0 50px;
    border-right-style:none !important;
    border: 1px solid #FFD7B5;
    outline: none;
    padding-left: 10px;
} 
 
.btn-search{ 
    display: right;
    border-radius: 0 50px 50px 0;
    border-left-style: none !important;
    background-color: #fff;
    border: 1px solid #FFD7B5;
    outline: none;
    padding-right: 10px;  
}


/* Responsive Styles */
@media only screen and (max-width: 1024px){
    .navbar-toggler{
        outline: none;
        background-color:#FFD7B5; ;
    }
    .navbar-nav{
           text-align: center !important;
           justify-items: center !important;
           justify-content: center !important;
           
    }
    .input-group{
        padding: 8px !important;
    }
}
@media only screen and (max-width: 768px){
    .navbar-toggler{
        outline: none;
        background-color:#FFD7B5; 
    }
    .navbar-nav{
           text-align: center !important;
           justify-items: center !important;
           justify-content: center !important;
           
           
    }
    .input-group{
        padding: 8px !important;
    }
}
@media only screen and (max-width: 575px){
    .navbar-toggler{
        outline: none;
        background-color:#FFD7B5; ;
    }
    .navbar-nav{
           text-align: center !important;
           justify-items: center !important;
           justify-content: center !important;
           
    }
    .input-group{
        padding: 8px !important;
    }
}
@media only screen and (max-width: 144px){
    .navbar-toggler{
        outline: none;
        background-color:#FFD7B5; ;
    }
    .navbar-nav{
           text-align: center !important;
           justify-items: center !important;
           justify-content: center !important;
           
    }
    .input-group{
        padding: 8px !important;
    }
}

/* @media (max-width: 992px) {

    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 10px;
        bottom: 10;
        left: -45%;
        transition: all 0.2s ease;
       
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 10px;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 45%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #FFD7B5;
    }
} */

