.footer{
    padding: 7%;
  }
  .top{
  padding-top: 30px;
  }
  .bottom{
    padding: 3% 3% 2%;;
    background-color:#FFd7B5	;
  }
  
  img{
    float: left;
  }
  p{
    padding-top: 15px;
  }
  
  .features{
    -moz-border-radius: 50px;
  border-radius: 50px;
     border:solid 1px #FFd7B5;
     padding: 3%;
     background-color: #FFd7B5
  }
  .icon{
    font-size: 32px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 3%;
  }
  .fb,.insta,.twitter,.linkedin{
    font-size: 32px;
    padding: 5px;
  }
  .fb{
    color: #3b5998;
  }
  .insta{
    color:#E1306C;
  }
  
  .twitter{
    color: #00acee;
  }
  .linkedin{
    color: #0e76a8;
  }
  .feature-text{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding-left: 10px;
  }
  .des{
    color: #808080;
    font-size: 0.8rem;
  }
  .about-icons{
    text-align: right;
  }
  span{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1rem;
    color: black;
  }
  .title{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .press{
    float: right;
    width: 60px;
    height: 25px;
    padding: 0;
  }
  
  @media (max-width:1028px){
    .left,.right,.middle{
      padding-bottom: 8%;
    }
    .press{
      height:18px;
      width: 40px;
    }
  }
  