<div class="container-fluid footer">

    <div class="top">
      <div class="row">
        <div class="col-sm-4">
          <div class="features">
            <img class="icon" src="https://img.icons8.com/ios/64/000000/truck.png"/>
            <p class="feature-text">FREE SHIPPING AND RETURN</p>
  
          </div>
  
        </div>
        <div class="col-sm-4">
          <div class="features">
            <img class="icon" src="https://img.icons8.com/ios-filled/64/000000/money-bag.png"/>
              <p class="feature-text">MONEY BACK GUARANTEE</p>
  
  
          </div>
  
        </div>
        <div class="col-sm-4">
          <div class="features">
            <img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/last-24-hours.png"/>
          <p class="feature-text">ONLINE SUPPORT 24/7</p>
  
          </div>
  
        </div>
  
      </div>
    </div>
  <br><br>
  
  
    <div class="bottom">
  
  
      <div class="upper">
        <div class="about-icons">
          <i class="fb fab fa-facebook-f"></i>
          <i class="insta fab fa-instagram"></i>
          <i class="twitter fab fa-twitter"></i>
          <i class="linkedin fab fa-linkedin-in"></i>
          <br><br>
        </div>
      </div>
      <div class="middle">
  
        <div class="row">
          <div class="left col-lg-4">
            <span>CONTACT INFORMATION</span>
            <p class="title">Address</p>
            <p>Delhi,India</p>
            <p class="title">Phone</p>
            <p>+91 3216549874</p>
            <p class="title">Email</p>
            <p>@gmail.com</p>
          </div>
          <div class="middle col-lg-4">
            <span>ABOUT US</span>
            <p>vfyew yhijd ygjhak jos jygwyrijri hhv h vhb difhvd kluhgr9p jalihuh rtbbv erg ewuh wriwheuc ythit4iq e 9u</p>
            <p style="font-weight:500;">read more....</p>
          </div>
          <div class="right col lg-4">
            <span>MY ACCOUNT</span>
            <p class="title">Contact Us</p>
            <p class="title">My Account</p>
            <p class="title">Order History</p>
            <p class="title">Advanced Search</p>
            <p class="title">Login</p>
            <br>
            <span>WORKING DAY/HOURS</span>
            <p>Mon - Sun / 9:00AM - 8:00PM</p>
          </div>
        </div>
  
  
  
      </div>
      <div class="lower">
        <p style="text-align:center;">Supro Software © 2019 All Right Reserved</p>
      </div>
      <img class="press" src="../assets/footer/discover.png" alt="discover">
      <img class="press" src="../assets/footer/ae.png" alt="american express">
      <img class="press" src="../assets/footer/paypal.png" alt="paypal">
      <img class="press" src="../assets/footer/visa.png" alt="visa">
      <img class="press" src="../assets/footer/mastercard.png" alt="mastercard">
  
  
    </div>
  </div>
