

<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <div class="card ">
        <div class="card-header"> <img width="160px" src="../../assets/logos.png"></div>
        <div class="card-body ">
          <div class="row p-3 ml-2">
            <div class=" col-lg-6 col-xl-4 ml-3  div-color">
              <h4 class="pt-4">Login</h4>
              <p><small>Get access to your Orders,
                Wishlist and
                recommendations</small>
              </p>
              
            </div>
            <div class="col-md-6 col-lg-6 form-div " style="border:1px solid black;">
              <form class="form-signin  p-2" (ngSubmit)="loginProcess(formGroup)" [formGroup]="formGroup">
                  <label>Enter Email/Mobile</label>
                <input type="text" class="form-control" formControlName="username" autofocus [ngClass]="{'is-invalid':
                formGroup.get('username').touched && formGroup.get('username').invalid}">
                <span class="text-danger invalid-feedback"><small>Invalid Email/Mobile</small></span>
                
                <label class="m-1">Password</label>
                <input type="password" class="form-control mb-2" formControlName="password" [ngClass]="{'is-invalid':
                formGroup.get('password').touched && formGroup.get('password').invalid}">
                <button class="btn btn-sm btn-lg mb-1 login-btn" type="submit"><strong>Login</strong></button>
                <div class="centerLink">
                <a href="#" class="float-right">New user? <span><a href="#" class="float-right">Register Here</a></span></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


