
  .card-header
  {
    height:65px;
    background-color: #FFD7B5;
  }
  img
  {
     margin-left: 35%;
     margin-top: -35px;
  }
  
  .card-body
  {
     background-color: #E1E1E1;
  }
  .div-color
  {
    background-color: #FFD7B5;
  }
  .form-div
  {
    background-color: #fff;
  }
  .login-btn
  {
    border-radius: 50px;
    background-color: #FFD7B5;
    justify-items: center !important;
    padding: 3px 18px 3px;
    margin-left: 32%;
   

  }
  input
  {

      background-color: #FFD7B5;
  }
  .float-right
  {
     color: black;
  }
  /* Validation */
  

  /* Responsive style */
  @media only screen and (max-width: 768px){
    .card-body{
     text-align: center !important;
     justify-items: center !important;
     justify-content: center !important;
    }
   .form-div{
     margin: 8px;
   }
   .div-color{
     margin-left: -5%;
   }
   /* .login-btn{
    margin-left: -3% !important;
   } */
   .centerLink{
      text-align: center !important;
     justify-items: center !important;
     justify-content: center !important;
   }
   
 }

 /* Laptop   */
 @media only screen and (max-width: 1024px){
  .card-body{
   text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
  }
 .form-div{
   margin: 8px;
 }
 .div-color{
   margin-left: -5%;
 }
 .login-btn{
  margin-left: -3% !important;
 }
 .centerLink{
    text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
 }
 
}
/* Ipad */
@media only screen and (max-width: 992px){
  .card-body{
   text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
  }
 .form-div{
   margin: 8px;
 }
 .div-color{
   margin-left: -5%;
 }
 .login-btn{
  margin-left: -3% !important;
 }
 .centerLink{
    text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
 }
 
}
/* Mobile */
@media only screen and (max-width: 144px){
  .card-body{
   text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
  }
 .form-div{
   margin: 8px;
 }
 .div-color{
   margin-left: -5%;
 }
 .login-btn{
  margin-left: -3% !important;
 }
 .centerLink{
    text-align: center !important;
   justify-items: center !important;
   justify-content: center !important;
 }
 
}
